In [1]:
import requests
import pandas as pd

In [2]:
r = requests.get("https://swapi.dev/api/species/")
df = pd.read_json("https://swapi.dev/api/species/")
print (df)
df.describe()

   count                                   next  previous  \
0     37  https://swapi.dev/api/species/?page=2       NaN
1     37  https://swapi.dev/api/species/?page=2       NaN
2     37  https://swapi.dev/api/species/?page=2       NaN
3     37  https://swapi.dev/api/species/?page=2       NaN
4     37  https://swapi.dev/api/species/?page=2       NaN
5     37  https://swapi.dev/api/species/?page=2       NaN
6     37  https://swapi.dev/api/species/?page=2       NaN
7     37  https://swapi.dev/api/species/?page=2       NaN
8     37  https://swapi.dev/api/species/?page=2       NaN
9     37  https://swapi.dev/api/species/?page=2       NaN

                                             results
0  {'name': 'Human', 'classification': 'mammal', ...
1  {'name': 'Droid', 'classification': 'artificia...
2  {'name': 'Wookie', 'classification': 'mammal',...
3  {'name': 'Rodian', 'classification': 'sentient...
4  {'name': 'Hutt', 'classification': 'gastropod'...
5  {'name': 'Yoda's species', 'classification': '...
6  {'name': 'Trandoshan', 'classification': 'rept...
7  {'name': 'Mon Calamari', 'classification': 'am...
8  {'name': 'Ewok', 'classification': 'mammal', '...
9  {'name': 'Sullustan', 'classification': 'mamma...

       count  previous
count   10.0       0.0
mean    37.0       NaN
std      0.0       NaN
min     37.0       NaN
25%     37.0       NaN
50%     37.0       NaN
75%     37.0       NaN
max     37.0       NaN

In [3]:
print(df.shape)
df.head()

(10, 4)

,count,next,previous,results
0,37,https://swapi.dev/api/species/?page=2,NaN,"{'name': 'Human', 'classification': 'mammal', ..."
1,37,https://swapi.dev/api/species/?page=2,NaN,"{'name': 'Droid', 'classification': 'artificia..."
2,37,https://swapi.dev/api/species/?page=2,NaN,"{'name': 'Wookie', 'classification': 'mammal',..."
3,37,https://swapi.dev/api/species/?page=2,NaN,"{'name': 'Rodian', 'classification': 'sentient..."
4,37,https://swapi.dev/api/species/?page=2,NaN,"{'name': 'Hutt', 'classification': 'gastropod'..."

In [4]:
df=df.dropna(axis=1,how='all')
df.head()

,count,next,results
0,37,https://swapi.dev/api/species/?page=2,"{'name': 'Human', 'classification': 'mammal', ..."
1,37,https://swapi.dev/api/species/?page=2,"{'name': 'Droid', 'classification': 'artificia..."
2,37,https://swapi.dev/api/species/?page=2,"{'name': 'Wookie', 'classification': 'mammal',..."
3,37,https://swapi.dev/api/species/?page=2,"{'name': 'Rodian', 'classification': 'sentient..."
4,37,https://swapi.dev/api/species/?page=2,"{'name': 'Hutt', 'classification': 'gastropod'..."